body {
    font-family: 'Roboto', sans-serif;
    color: #E0E0E0;
}

.parallax {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(30, 30, 45, 0.8);
    background-image: url('../img/abbasid-animation.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    box-sizing:border-box;
    background-blend-mode: overlay;
}

.header-content {
    z-index: 1;
    padding: 0 10px;
}

.header-content h1 {
    font-family: 'Poppins', serif;
    color: #FFD700;
    font-size: 4em;
    margin: 0 0 5px 0;
}

.header-content p {
    font-size: 1.3em;
    color: #E0E0E0;
    margin-bottom: 30px;
}

#home {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 20px;
    color: rgba(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    background-color: #FCBF47;
    font-size: 2em;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}

#audio-player {
    box-shadow: 0 0 10px #FCBF47;
    border-radius: 40px;
    padding: 15px;
    display: inline-block;
    margin-bottom: 20px;
    width: 80%;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.8);
}

#player-content {
    display: flex;
    align-items: center;
}

#controls {
    margin-right: 10px;
}

#progress-container {
    display: flex;
    align-items: center;
    width: 100%;
}

#progress {
    flex-grow: 1; 
    width: auto;
    border: 1px solid #FCBF47;
    cursor: pointer;
    height: 25px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#bar {
    height: 100%;
    background-color: #FCBF47;
    width: 0;
    border-radius: 10px;
}

#thumb {
    color: #FCBF47;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    cursor: pointer;
}

#play, #pause {
    display: none;
}

.play-pause {
    font-weight: bolder;
    background-color: black;
    color: #FCBF47;
    box-shadow: 0 0 10px #FCBF47;
    padding: 10px;
    border-radius: 50%;
}

.play-pause:hover {
    background-color: #FCBF47;
    color: black;
}

#time-display {
    min-width: 110px;
    text-align: right;
    margin-left: 10px;
    font-family: 'Poppins', serif;
    color: #FCBF47;
}

#manipulation-book-cover {
    width: 50%;
    height: auto;
    box-shadow: 0 0 10px #ffffff;
    border-radius: 20px;
    transition: transform 0.3s;
}

#manipulation-book-cover:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #FCBF47, 0 0 20px #FCBF47;
}

#psychology-img, #philosophy-img, #languages-img, #economy-img, #geography-img, #politics-img, #geopolitics-img, #islam-img, #astro-img, #health-img, #animals-img, #history-img, #plants-img, #food-img, #law-img, #music-img, #engineering-img, #filmmaking-img, #oceanography-img, #design-img, #education-img, #mathematics-img, #featured-bookcast-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#programming-img {
    width: 100px;
    height: 100px;
}


#islam {
    background-image: url('../img/Quran.webp');
}

#animals {
    background-image: url('../img/animals.webp');
}

#astro {
    background-image: url('../img/astro.webp');
}

#design {
    background-image: url('../img/design.webp');
}

#economy {
    background-image: url('../img/economy.webp');
}

#education {
    background-image: url('../img/education.webp');
}

#engineering {
    background-image: url('../img/engineering.webp');
}

#filmmaking {
    background-image: url('../img/filmmaking.webp');
}

#food {
    background-image: url('../img/food.webp');
}

#geography {
    background-image: url('../img/geography.webp');
}

#geopolitics {
    background-image: url('../img/geopolitics.webp');
}

#health {
    background-image: url('../img/health.webp');
}

#history {
    background-image: url('../img/history.webp');
}

#law {
    background-image: url('../img/law.webp');
}

#mathematics {
    background-image: url('../img/mathematics.webp');
}

#music {
    background-image: url('../img/music.webp');
}

#oceanography {
    background-image: url('../img/oceanography.webp');
}

#philosophy {
    background-image: url('../img/philosophy.webp');
}

#plants {
    background-image: url('../img/plants.webp');
}

#politics {
    background-image: url('../img/politics.webp');
}

#programming {
    background-image: url('../img/programming.webp');
}

#psychology {
    background-image: url('../img/psychology.webp');
}

#featured-bookcast {
    background-image: url('../img/featured-bookcast.webp');
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    text-align: center;
}

nav ul li a {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px 20px;
    color: #FCBF47;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    background-color: rgba(0, 0, 0);
    font-size: 2em;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.5);
}

nav ul li a:hover {
    color: #FCBF47;
    background-color: rgba(255, 255, 255, 0.2);
}

#m {
    text-decoration: none;
    color: inherit;
}

.link-with-image .link-icon {
    width: 24px;
    height: auto;
    margin-right: 10px;
}

main {
    background-image: url('../img/scholars-library.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #1E1E2D;
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 40px 20px;
    background-color: #1E1E2D;
    background-blend-mode: overlay;
}

.carousel-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    position: relative;
}

.carousel-container h1 {
    font-family: 'Poppins', serif;
    font-size: 2.5em;
    color: #FCBF47;
}

.carousel {
    display: flex;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 60px);
    max-width: 1000px;
    overflow: hidden;
}

.card {
    width: 200px;
    height: 300px;
    margin: 0 -30px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, z-index 0.3s ease, opacity 0.3s ease;
    position: relative;
    transform: scale(0.9);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 1rem;
    text-align: left;
    box-sizing: border-box;
    z-index: 2;
}

.card h3 {
    margin: 0;
    font-size: 1.2rem;
}

.card p {
    margin: 0.5rem 0 0;
    color: #eee;
}

.card.active {
    transform: scale(1);
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    justify-items: center;
}

section {
    min-height: 95vh;
    text-align: center;
    background: rgba(30, 30, 45, 0.8);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 18px;
    padding: 2em;
    margin: 20px auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: color-burn;
}

section h2 {
    font-size: 2.5em;
    color: #FCBF47;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Poppins', serif;
    word-wrap: break-word;
}

section h3 {
    color: #FCBF47;
}

.collapsible-content {
    display: none;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    overflow: hidden;
}

.top-books {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.book {
    text-align: center;
    width: 30%;
}

.book a {
    text-decoration: none;
}

.book img {
    width: 100px;
    height: auto;
    border: 1px dashed #FCBF47;
    border-radius: 10px;
    margin-bottom: 5px;
}

.book-title {
    font-family: 'Poppins', serif;
    font-size: 0.9em;
    color: #FCBF47;
}

#listen-quran {
    margin-top: 20px;
}

#listen-quran h3 {
    font-family: 'Poppins', serif;
}

iframe {
    --scale: 0.7;
    transform: scale(var(--scale));
    transform-origin: top center;
    margin-bottom: calc((var(--scale) - 1) * 120%);
}

.toggle-checkbox {
    display: none;
}

#toggle-checkbox-islam:checked ~ .collapsible-content, #toggle-checkbox-animals:checked ~ .collapsible-content, #toggle-checkbox-astro:checked ~ .collapsible-content, #toggle-checkbox-design:checked ~ .collapsible-content, #toggle-checkbox-economy:checked ~ .collapsible-content, #toggle-checkbox-education:checked ~ .collapsible-content, #toggle-checkbox-engineering:checked ~ .collapsible-content, #toggle-checkbox-filmmaking:checked ~ .collapsible-content, #toggle-checkbox-food:checked ~ .collapsible-content, #toggle-checkbox-geography:checked ~ .collapsible-content, #toggle-checkbox-geopolitics:checked ~ .collapsible-content, #toggle-checkbox-health:checked ~ .collapsible-content, #toggle-checkbox-history:checked ~ .collapsible-content, #toggle-checkbox-law:checked ~ .collapsible-content, #toggle-checkbox-mathematics:checked ~ .collapsible-content, #toggle-checkbox-music:checked ~ .collapsible-content, #toggle-checkbox-oceanography:checked ~ .collapsible-content, #toggle-checkbox-philosophy:checked ~ .collapsible-content, #toggle-checkbox-plants:checked ~ .collapsible-content, #toggle-checkbox-politics:checked ~ .collapsible-content, #toggle-checkbox-programming:checked ~ .collapsible-content, #toggle-checkbox-psychology:checked ~ .collapsible-content {
    display: block;
    min-height: 100vh;
    opacity: 1;
}


#toggle-checkbox-islam:checked ~ .toggle-button::after, #toggle-checkbox-animals:checked ~ .toggle-button::after, #toggle-checkbox-astro:checked ~ .toggle-button::after, #toggle-checkbox-design:checked ~ .toggle-button::after, #toggle-checkbox-economy:checked ~ .toggle-button::after, #toggle-checkbox-education:checked ~ .toggle-button::after, #toggle-checkbox-engineering:checked ~ .toggle-button::after, #toggle-checkbox-filmmaking:checked ~ .toggle-button::after, #toggle-checkbox-food:checked ~ .toggle-button::after, #toggle-checkbox-geography:checked ~ .toggle-button::after, #toggle-checkbox-geopolitics:checked ~ .toggle-button::after, #toggle-checkbox-health:checked ~ .toggle-button::after, #toggle-checkbox-history:checked ~ .toggle-button::after, #toggle-checkbox-law:checked ~ .toggle-button::after, #toggle-checkbox-mathematics:checked ~ .toggle-button::after, #toggle-checkbox-music:checked ~ .toggle-button::after, #toggle-checkbox-oceanography:checked ~ .toggle-button::after, #toggle-checkbox-philosophy:checked ~ .toggle-button::after, #toggle-checkbox-plants:checked ~ .toggle-button::after, #toggle-checkbox-politics:checked ~ .toggle-button::after, #toggle-checkbox-programming:checked ~ .toggle-button::after, #toggle-checkbox-psychology:checked ~ .toggle-button::after {
    content: '▲';
    transform: rotate(180deg);
}

.toggle-button {
    color: #FCBF47;
    background-color: black;
    border: none;
    border-radius: 8px;
    font-size: 1.5em;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease-in-out;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    padding: 5px 20px;
}

.toggle-button::after {
    content: '▼';
    font-size: 1em;
    margin-left: 10px;
    transition: transform 0.3s ease-out;
}

section p {
    font-size: 1.1em;
    line-height: 1.6;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

ul li {
    margin: 10px 0;
}

ul li a {
    color: #FCBF47;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
    word-wrap: break-word;
}

ul li a:hover {
    color: rgba(30, 30, 45);
}

#programming ul li a, #psychology ul li a, #philosophy ul li a, #languages ul li a, #economy ul li a, #geography ul li a, #politics ul li a, #geopolitics ul li a, #islam ul li a, #astro ul li a, #health ul li a, #animals ul li a, #history ul li a, #plants ul li a, #food ul li a, #law ul li a, #music ul li a, #engineering ul li a, #filmmaking ul li a, #oceanography ul li a, #design ul li a, #education ul li a, #mathematics ul li a {
    border: dashed 1px white;
    border-radius: 5px;
    padding: 10px;
    display: block;
}

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #FCBF47;
    border-radius: 5px;
    background-color: #2E2E3D;
    color: #E0E0E0;
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FCBF47;
    color: #1E1E2D;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #E0E0E0;
    color: #1E1E2D;
}

#signature {
    margin-top: 20px;
    width: 20%;
    height: 20%;
}

#classroom {
    width: 100%;
    height: 100%;
}

footer {
    background-color: #2E2E3D;
    padding: 20px 0;
    text-align: center;
    border-top: 3px solid #FCBF47;
    display: flex;
}

footer p {
    margin: 0;
    font-size: 1em;
    display: inline;
}

.social-button {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
  margin: 0 0 0 10px;
}

.social-button:hover {
  background-color: #e0e0e0;
  transform: scale(1.1);
}

.social-button.tiktok {
  background-image: url('../img/tiktok.png');
}

.social-button.instagram {
  background-image: url('../img/instagram.png');
}

.social-button.youtube {
  background-image: url('../img/youtube.png');
}

.social-button.blogger {
  background-image: url('../img/blogger.png');
}

.social-button.x {
  background-image: url('../img/twitterx.png');
}

@media (max-width: 768px) {
    .header-content h1 {
        font-size: 2em;
    }

    .header-content #home {
        font-size: 1.5em;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul li a {
        font-size: 1.5em;
    }

    section {
        width: 90%;
        padding: 15px;
    }

    section h2 {
        font-size: 1.8em;
    }

    section p {
        font-size: 1em;
    }

    .top-books {
        flex-direction: column;
        align-items: center;
    }

    .book {
        width: 100%;
        margin-bottom: 15px;
    }

    .book img {
        width: 80px;
    }

    .book-title {
        font-size: 1em;
    }

    .card {
        width: 160px;
        height: 240px;
    }
}

@media (max-width: 480px) {
    .header-content h1 {
        font-size: 1.5em;
    }

    .header-content #home {
        font-size: 1em;
    }

    nav ul li a {
        font-size: 1em;
    }

    .card {
        width: 120px;
        height: 180px;
    }

    .card h3 {
        font-size: 1rem;
    }

    .card p {
        font-size: 0.8rem;
    }
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }
}

.hover-change-bg:hover {
    background-color: #E0B700;
}

.hover-change-size:hover {
    width: 110px;
}

.shake-animation {
    animation: shake 2s ease-in-out infinite alternate;
    animation-delay: 2s;
}