body {
    font-family: 'Roboto', sans-serif;
    color: #E0E0E0;
}

.parallax {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(30, 30, 45, 0.8);
    background-image: url('img/abbasid.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    box-sizing:border-box;
    background-blend-mode: overlay;
}

#about, #duolingo, #social, #faizalingo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: color-burn;
}

#about {
    background-image: url('img/aboutme.png');
}

#duolingo {
    background-image: url('img/classroom.png');
}

#social {
    background-image: url('img/socmed.png');
}

#faizalingo {
    background-image: url('img/faizalingo.png');
}

.header-content {
    z-index: 1;
    padding: 0 10px;
}

.header-content h1 {
    font-family: 'Poppins', serif;
    color: #FFD700;
    font-size: 3em;
    margin: 0 0 5px 0;
}

.header-content p {
    font-size: 1.5em;
    color: #E0E0E0;
    margin-bottom: 30px;
}

.header-content h3 {
    margin-top: 50px;
    color: #FCBF47;
    font-size: 1.8em;
}

.link-icon {
    width: 0.7em;
    height: auto;
    margin-right: 10px;
}

#avatar, #duobanner, #socials, #open-source-icon, #self-help-icon, #art-icon, #support-icon, #sonia-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#duoavatar, #blog-icon {
    width: 100px;
    height: 100px;
}

#audio-player {
    box-shadow: 0 0 10px #FCBF47;
    border-radius: 40px;
    padding: 15px;
    display: inline-block;
    margin-bottom: 20px;
    width: 80%;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.8);
}

#player-content {
    display: flex;
    align-items: center;
}

#controls {
    margin-right: 10px;
}

#progress-container {
    display: flex;
    align-items: center;
    width: 100%;
}

#progress {
    flex-grow: 1; 
    width: auto;
    border: 1px solid #FCBF47;
    cursor: pointer;
    height: 25px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#bar {
    height: 100%;
    background-color: #FCBF47;
    width: 0;
    border-radius: 10px;
}

#thumb {
    color: #FCBF47;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    cursor: pointer;
}

#play, #pause {
    display: none;
}

.play-pause {
    font-weight: bolder;
    background-color: black;
    color: #FCBF47;
    box-shadow: 0 0 10px #FCBF47;
    padding: 10px;
    border-radius: 50%;
}

.play-pause:hover {
    background-color: #FCBF47;
    color: black;
}

#time-display {
    min-width: 110px;
    text-align: right;
    margin-left: 10px;
    font-family: 'Poppins', serif;
    color: #FCBF47;
}

#transcript {
    width: 90%;
    max-width: 600px;
    text-align: center;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px #FCBF47;
    padding: 5px 20px;
    border-radius: 20px;
    margin: 0 auto 20px auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    text-align: center;
}

nav ul li a {
    position: relative;
    border-radius: 5px;
    padding: 5px 20px;
    color: #FCBF47;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    background-color: rgba(0, 0, 0);
    font-size: 3em;
    box-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700;
}

nav ul li a:after {
    content: '⇊';
    position: absolute;
    opacity: 0;  
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.5s, bottom 0.5s;
}

nav ul li a:hover {
    color: #FCBF47;
    background-color: rgba(30, 30, 45, 0.5);
    padding-top: 1px;
    padding-bottom: 9px;
}

nav ul li a:hover:after {
    opacity: 1;
    bottom: -50px;
}

#opposite-color {
    border-radius: 5px;
    padding: 5px 20px;
    color: rgb(0, 0, 0);
    background-color: #FCBF47;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 3em;
    box-shadow: 0 0 10px #000000, 0 0 20px #ffffff;
}

#opposite-color:after {
    content: '';
}

#opposite-color:hover {
    color: rgb(0, 0, 0);
    background-color: rgba(250, 226, 177, 0.5);
    padding: 10px 25px;
    font-size: 3.1em;
}

main {
    background-image: url('img/scholars-library.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #1E1E2D;
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 40px 20px;
    background-color: #1E1E2D;
    background-blend-mode: overlay;
}

section {
    min-height: 95vh;
    text-align: center;
    background: rgba(30, 30, 45, 0.8);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 18px;
    padding: 2em;
    margin: 20px auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section h2 {
    font-size: 2.5em;
    color: #FCBF47;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Poppins', serif;
}

section p {
    font-size: 1.3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 1.6;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

summary {
    color: #FCBF47;
    background-color: black;
    font-weight: bolder;
    border-radius: 8px;
    box-shadow: 0 0 10px #FFD700;
    padding: 10px;
}

details h4 {
    color: #FCBF47;
}

.container {
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.blog-preview {
    border: dashed 1px #FCBF47;
    border-radius: 0 20px 0 20px;
    padding: 0 10px 10px 10px;
    margin-bottom: 30px;
    background-color: rgba(100, 100, 100, 0.5);
}

.blog-preview h3 {
    color: #FCBF47;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.blog-preview p {
    font-size: 1em;
    margin-bottom: 10px;
}

.blog-preview a {
    color: #FCBF47;
    text-decoration: none;
    font-weight: bold;
}

.blog-preview a:hover {
    text-decoration: underline;
}

#self-help h3 {
    color: #FCBF47;
}

.cards-container, .colouring-therapy-container, .puzzle-therapy-container, .sound-therapy-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card, .mandalas, .puzzles, .sounds {
    margin: 10px;
}

.card {
  position: relative;
  width: 290px;
  height: 290px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 0 0 20px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.margin-top-10 {
    margin-top: 10px;
}

.mandalas {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 0 0 20px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.puzzles {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 0 0 20px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sounds {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 0 0 20px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

#mandalas-pdf {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#puzzles-pdf {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#mandalas-pdf-thumbnail {
    width: 50%;
    height: auto;
}

#puzzles-pdf-thumbnail {
    width: 50%;
    height: auto;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.card-content h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.card-content p {
  font-size: 16px;
}

.btn {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #FCBF47;
  color: #000;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.pdf-btn, .labyrinth-therapy-btn {
  padding: 10px 20px;
  background-color: #FCBF47;
  color: #000;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  transition: transform 0.3s;
}

.pdf-btn:hover, .labyrinth-therapy-btn:hover {
    transform: scale(1.05);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700, 0 0 30px #FFD700;
}

.card:hover .btn {
  display: block;
}

.mandalas:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700, 0 0 30px #FFD700;
}

.puzzles:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700, 0 0 30px #FFD700;
}

.mandalas:hover .btn {
  display: block;
}

.puzzles:hover .btn {
  display: block;
}

.img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.img-container-item {
    max-height: 20vh;
    width: auto;
    height: auto;
    object-fit: contain;
}

.img-border {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 0 0 20px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.description {
    font-style: italic;
    font-size: 1em;
}

#faizalingo-preview, #pokélingo-preview {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 0 0 20px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.3);

}

#faizalingo-preview {
    border-radius: 50px 50px 0 0;
}

#pokélingo-preview {
    border-radius: 0 0 50px 50px;
}

.faizalingo-container p{
    padding-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

ul li {
    margin: 10px 0;
}

ul li a {
    color: #FCBF47;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
    display: inline-block;
}

ul li a:hover {
    color: rgba(30, 30, 45);
}

#duolingo ul li a {
    border-radius: 5px;
    padding: 10px;
    display: block;
}

.duolingo-li {
    border: none;
    padding: 5px 20px;
}

#signature {
    margin: 20px 0 20px 0;
    width: 20%;
    height: 20%;
}

.open-source-container #open-source-initiative {
    color: #FCBF47;
    text-decoration: none;
    font-weight: bolder;
}

.open-source-container #osi {
    line-height: 1.5em;
    background-color: black;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700;
    padding: 5px 20px;
    margin: 10px;
}

.open-source-container #osi:hover {
    transform: scale(1.05);
}

details {
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    margin: 10px;
}

details ul li {
    line-height: 1.5em;
    margin: 10px;
    background-color: black;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px #ffffff;
    padding: 5px 20px;
    display: inline-block;
}

details ul li:hover {
    transform: scale(1.05);
}

details ul a {
    color: #FCBF47;
    text-decoration: none;
    padding-left: 20px;
}

.toggle-checkbox {
    display: none;
}

#toggle-checkbox-literature:checked ~ #literature-content, #toggle-checkbox-courses:checked ~ #courses-content, #toggle-checkbox-journal:checked ~ #journal-content, #toggle-checkbox-audiobook:checked ~ #audiobook-content, #toggle-checkbox-general-knowledge:checked ~ #general-knowledge-content, #toggle-checkbox-languages:checked ~ #languages-content, #toggle-checkbox-cs:checked ~ #cs-content, #toggle-checkbox-forum:checked ~ #forum-content {
    display: block;
    opacity: 1;
}

#toggle-checkbox-literature:checked ~ .literature-toggle-button::after, #toggle-checkbox-courses:checked ~ .courses-toggle-button::after, #toggle-checkbox-journal:checked ~ .journal-toggle-button::after, #toggle-checkbox-audiobook:checked ~ .audiobook-toggle-button::after, #toggle-checkbox-general-knowledge:checked ~ .general-knowledge-toggle-button::after, #toggle-checkbox-languages:checked ~ .languages-toggle-button::after, #toggle-checkbox-cs:checked ~ .cs-toggle-button::after, #toggle-checkbox-forum:checked ~ .forum-toggle-button::after {
    content: '▲';
    transform: rotate(180deg);
}

.toggle-button {
    color: #FCBF47;
    background-color: black;
    border: none;
    border-radius: 8px;
    font-size: 1.5em;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 10px #FFD700;
    padding: 5px 20px;
    margin-top: 20px;
    width: 100%;
}

.toggle-button::after {
    content: '▼';
    font-size: 1em;
    margin-left: 10px;
    transition: transform 0.3s ease-out;
}

.margin-top-nav {
    margin-top: 20px;
}

.stock-logo {
    width: 200px;
    height: auto;
    max-width: 100%;
}

.stockphoto-thumbnail-gallery {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    flex-wrap: nowrap;
    margin-bottom: 30px;
}

.stockphoto-thumbnail-gallery img {
    width: 100%;
    max-width: 200px;
    height: auto;
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(175, 175, 175, 0.8), 0 0 30px rgba(0, 0, 0, 0.8)
}

.stockphoto-thumbnail-gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700, 0 0 30px #FFD700;
}

.stockphoto-thumbnail-gallery #istockphoto-thumbnail1, #adobestockphoto-thumbnail1{
    border-radius: 0 0 0 20px;
}

.stockphoto-thumbnail-gallery #istockphoto-thumbnail3, #adobestockphoto-thumbnail3{
    border-radius: 0 0 20px 0;
}

#support h3 {
    color: #FCBF47;
}

#support .stockphoto-portfolio-img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
    transition: transform 0.3s ease;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(175, 175, 175, 0.8), 0 0 30px rgba(0, 0, 0, 0.8)
}

#support .stockphoto-portfolio-img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700, 0 0 30px #FFD700;
}

.soniachat-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.soniachat-container #userMessage {
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 20px;
    text-align: center;
    margin-top: 10px;
}

.soniachat-container #sendMessage {
    padding: 10px 20px;
    background-color: #FCBF47;
    color: #000;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    transition: transform 0.3s;
    margin-top: 10px;
}

.soniachat-container #sendMessage:hover {
    background-color: #fcd37e;
    transform: scale(1.05);
}

.soniachat-container #responseContainer{
    margin-top: 20px;
}

/* Ink fade-in effect */
.fade-in {
  opacity: 1;
  letter-spacing: 1px; /* As it fades in, letters come closer */
}

/* Ink fade-out effect */
.fade-out {
  opacity: 0;
  letter-spacing: 2px; /* As it fades out, letters space out slightly */
}

footer {
    background-color: #2E2E3D;
    padding: 20px 0;
    text-align: center;
    border-top: 3px solid #FCBF47;
    display: flex;
}

footer p {
    margin: 0;
    font-size: 1em;
    display: inline;
}

.social-button {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
  margin: 0 0 0 10px;
}

.social-button:hover {
  background-color: #e0e0e0;
  transform: scale(1.1);
}

.social-button.tiktok {
  background-image: url('img/tiktok.png');
}

.social-button.instagram {
  background-image: url('img/instagram.png');
}

.social-button.youtube {
  background-image: url('img/youtube.png');
}

.social-button.blogger {
  background-image: url('img/blogger.png');
}

.social-button.x {
  background-image: url('img/twitterx.png');
}

@media (max-width: 768px) {
    .header-content h1 {
        font-size: 2em;
    }

    .header-content p {
        font-size: 1em;
    }

    .header-content h3 {
        font-size: 1.3em;
    }

    #transcript {
        font-size: 1em;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul li a {
        font-size: 1.5em;
    }

    #opposite-color {
        font-size: 1.5em;
    }

    #opposite-color:hover {
        font-size: 1.6em;
    }

    section {
        width: 90%;
        padding: 15px;
    }

    section h2 {
        font-size: 1.8em;
    }

    section p {
        font-size: 1em;
    }

    details ul li a {
        font-size: 1.5em;
    }

}

@media (max-width: 480px) {
    .header-content h1 {
        font-size: 2em;
    }

    .header-content p {
        font-size: 1em;
    }

    .header-content h3 {
        font-size: 1.3em;
    }

    #transcript {
        font-size: 1em;
    }

    nav ul li a {
        font-size: 1.3em;
    }
    
    #opposite-color {
        font-size: 1.3em;
    }

    #signature {
        margin: 10px 0 0 0;
        max-width: 70%;
        max-height: 70%;
        width: auto;
        height: auto;
    }

    #opposite-color:hover {
        font-size: 1.4em;
    }

    .img-container-item {
    max-height: 10vh;
    width: auto;
    height: auto;
    object-fit: contain;
    }

    details ul li a {
        font-size: 1.3em;
    }
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }
}

.hover-change-bg {
    background-color: rgb(30, 30, 45);
    box-shadow: 0 0 10px #FFD700;
    font-weight: bold;
}

.hover-change-bg:hover {
    background-color: #E0B700;
}

.shake-animation {
    animation: shake 2s ease-in-out infinite alternate;
    animation-delay: 2s;
}