body {
    background-color: black;
    color: #fcbf47;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/semantrick.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
}

h1 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

#count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 0 10px;
}

input {
    width: 80%;
    padding: 10px;
    border: 2px solid #fcbf47;
    border-radius: 5px;
    background: black;
    color: #fcbf47;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#messageBox {
    text-align: center;
    color: #fcbf47;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#loading {
    display: none;
    font-size: 14px;
    color: gray;
    margin-top: 10px;
}

#guesses {
    margin-top: 20px;
    text-align: left;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.guess {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 5px 0;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    transition: 0.3s;
    overflow: hidden;
    position: relative;
}

.guess .rank {
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    min-width: 40px;
    text-align: center;
    background-color: white;
    color: black;
}

#quote {
    color: white;
}

#hint-button {
    display: block;
    justify-self: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #1E1E2D;
    background-color: #FCBF47;
    border-radius: 10px;
    padding: 5px 20px;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

#share-button {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #1E1E2D;
    background-color: #FCBF47;
    border-radius: 10px;
    padding: 5px 20px;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

@keyframes glow {
    0% { box-shadow: 0 0 10px 5px #14f339; }
    20% { box-shadow: 0 0 10px 5px #007aff, 0 0 20px #14f339; }
    40% { box-shadow: 0 0 10px 5px #f6ee00; }
    60% { box-shadow: 0 0 10px 5px #007aff, 0 0 20px #f6ee00; }
    80% { box-shadow: 0 0 10px 5px #14f339; }
    100% { box-shadow: 0 0 10px 5px #ff6262, 0 0 20px #14f339; }
}

.win {
    background: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    border: 1px solid #fcbf47;
    border-radius: 20px;
    box-shadow: 0 0 10px #fcbf47;
    margin-top: 20px;
    padding: 20px;
    animation: glow 2s ease-in-out infinite alternate;
    animation-delay: 2s;
}

#endgame {
    font-weight: normal;
}